.primary{
    background-color: whitesmoke;
}
.secondary{
    background-color: gray;
}
.black{
    background-color: #181614;
}
.lightgrey{
    background-color: #d9d9d9;
}
.text-black{
    color: #181614;
}
.text-font-white{
    color: whitesmoke;
}
.text-font-grey{
    color: gray;
}
.button-cancel-color{
    background-color: #E0284A;
}
.button-default-color{
    background-color: rgb(152, 241, 255);
}
.button-warning-color{
    background-color: #FFE8A3;
}