/* CRUD START */


.crud{
    display: block;
}


.row{ 
    width: 100%;
    height: auto;
    
    border-radius: 0.5rem;
    background-color: #d9d9d9;

    margin-bottom: 1em;
    
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    box-shadow: 0px 4px 4px 0px rgba(24, 22, 20, 0.10);
}
    .divTable{
        min-width: min-content;
        width: 100%;
        overflow-x: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        table{
            border-collapse: collapse;
            width: 100%;
            height: 100%;
        }
            th{
                width: max-content;
                height: 40%;
            }
            th,td{
                width: auto;
                text-align: center;
                font-weight: normal;
                font-size: smaller;
            }
            td>*{
                min-width: calc(100% - 2em);
                width: calc(100% - 2em);
            }
            th:not(:first-child), td:not(:first-child){
            /* todas las columnas excepto la de id tienen un width de 20%*/
                /* min-width: 5rem; */
                width: 20%;
            }
            th:first-child, td:first-child{
            /* la columna de id tiene un width de 10%*/
                width: 10%;
            }

            #obsN>.divTable>table>thead>tr>th:not(:first-child), #obsN>.divTable>table>tbody>tr>td:not(:first-child){
                width: 13%;
            }

    .CRUD_Actions{
        width: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        .CRUD_Actions>div{
            min-width: 3em;
            max-width: 4em;
            min-height: 2em;
            padding: 0.25rem;

            display: flex;
            justify-content: center;
            align-items: center;
            
            border-radius: 0.5rem;
            cursor: pointer;

            transition: 0.25s;
        }
        @media (max-width: 33rem) {
            .CRUD_Actions{
                display: flex;
                flex-direction: column;
                max-width: 70%;
                gap: 8px;
                justify-content: center;
            }
        }

        .CRUD_Actions>div:hover{
            box-shadow: 0px 4px 4px 0px rgba(24, 22, 20, 0.10);
        }

        .crudInput{
            width: 60%;
        }
            /* CRUD END */