/* FONTS */
.optionTitle{
    color: #181614;
    text-align: right;
    font-family: Arial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.buttonText{
    text-align: center;
    font-family: Arial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title{
    color: #181614;
    font-family: Arial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subTitle{
    color: #181614;
    font-family: Arial;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.labelText{
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contentText{
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* FONTS END */