/*debug styles start */
div{
    /* border: 1px solid; */
}
/* debug styles end*/

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;   
}
body::-webkit-scrollbar{
    display: none;
}
a, a:link, a:visited{
    text-decoration: none;
    color: black;
}



/* MAIN CONTENT START */



#mainContent{
    align-self: center;
    height: auto;
    
}
    .bgImageDiv{
        height: 91vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size:cover;
        z-index: -1;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .index{
        background-image: url(../../Resources/veilNebula.png);
    }
        #titleDiv{
            width: fit-content;
            
            text-align: center;
            border: 0px solid;
            color: whitesmoke;
        }
        #titleText{
            padding: 0px;
            margin: 20px;
            font-size: 50px;
        }
        #subTitleText{
            font-size: x-large;
            font-weight: 600;
            margin: 20px;
        }
        .sep{
            border: 1px solid;
            width: 70%;
            margin: auto;
        }
    #textDiv{
        height: auto;
    }

    #textDiv>h1{
        text-align: center;
    }
    #textDiv>*{
        margin-left: 15vw;
        margin-right: 15vw;
    }
    #imageDiv{
        display: flex;
        justify-content: center;
        align-self: center;
    }
        .image{
            width: 70vw;
        }
    #footer{
        width: 100%;
        height: 20vh;
        background-color: rgba(128, 128, 128, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* MAIN CONTENT END */

@media (max-width:1000px){
    #navbarLogo{
        margin-left: 1em;
    }
    .image{
        width: 100%;
    }
    #loginTabsDiv>div{
        width: 5em;
    }
}

/* TURISMO PAG */

.turismo{
    background-image: url(../../Resources/milkyway.png);
}

#reservasDiv{
    display: block;
    justify-content: center;
    align-items: center;
}
    .resInputDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        width: 100%;
    }
    .resInputDiv>div{
        width: 50%;
        height: 2em;
    }
        .resInputDiv>div:first-child{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .resInputDiv>div:last-child{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        input[type=text], input[type=email], select{
            width: 22rem;
        }

    @media (max-width:800px){
        .resInputDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .resInputDiv>div{
            width: 50%;
            height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .resInputDiv>div:first-child, .resInputDiv>div:last-child{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        input[type=text], input[type=email], select{
            width: 100%;
        }
    }
    #dniInput{
        width: 8.75rem;
    }
    #errorDiv{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
        #errorMessage{
            color: red;
        }
    .enviarReservaButton{
        width: 9rem;
        height: 3rem;
        border-radius: 1rem;
        box-shadow: 0px 4px 4px 0px rgba(24, 22, 20, 0.20);
        margin-bottom: 1rem;
        cursor: pointer;
    }
    .iframeDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        column-gap: 1rem;
    }
    .iframeDiv>div>iframe{
        width: 22rem;
        height: 22rem;
    }


/* END TURISMO PAG */