/*debug styles start */
div{
    /* border: 1px solid; */
}
/* debug styles end*/

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;   
}
body::-webkit-scrollbar{
    display: none;
}
a, a:link, a:visited{
    text-decoration: none;
    color: black;
}



/* MAIN CONTENT START */



#mainContent{
    align-self: center;
    height: auto;
    
}
    .bgImageDiv{
        height: 91vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size:cover;
        z-index: -1;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .index{
        background-image: url(../../Resources/veilNebula.png);
    }
    .turismo{
        background-image: url(../../Resources/milkyway.png);
    }
        #titleDiv{
            width: fit-content;
            
            text-align: center;
            border: 0px solid;
            color: whitesmoke;
        }
        #titleText{
            padding: 0px;
            margin: 20px;
            font-size: 50px;
        }
        #subTitleText{
            font-size: x-large;
            font-weight: 600;
            margin: 20px;
        }
        .sep{
            border: 1px solid;
            width: 70%;
            margin: auto;
        }
    #cardsDiv{
        height: 23em;
        
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 3em;
        row-gap: 1em;
        padding: 1em;
        
        overflow: hidden;
        

    }
.card{
    background-color: rgba(0, 255, 255, 0.284);
    width: 20em;
    height: 20em;
    
    padding: 10px;
    
    box-shadow: 10px 5px 20px gray;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 20px 10px 20px gray;
    width: 21em;
    height: 21em;
    transition: all 0.15s ease;

}
    .card:hover>*{
        transition: all 0.15s ease;
    }
    .card:hover>.cardImg{
        width: calc(300px + 1em);
        height: calc(150px + 1em);
    }
.cardImg{
    width: 300px;
    height: 150px;
    background-image: url(../../Resources/colorTV_test.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.cardContent{
    margin-top: 0.5em;
    width: 100%;
    height: calc(100% - 160px - 0.5em);
}
    .cardTitle{
        height: 35%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-size: xx-large;
    }
    .cardDesc{
        margin: 0px;
        width: 100%;
        height: 65%;
        text-align: left;
        font-size: smaller;

        /* white-space: nowrap; */
        overflow:hidden;
        text-overflow:ellipsis;
    }

    #textDiv{
        height: auto;
    }

    #textDiv>h1{
        text-align: center;
    }
    #textDiv>p{
        margin-left: 15vw;
        margin-right: 15vw;
    }
    #imageDiv{
        display: flex;
        justify-content: center;
        align-self: center;
    }
        .image{
            width: 70vw;
        }
    #footer{
        width: 100%;
        height: 20vh;
        background-color: rgba(128, 128, 128, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* MAIN CONTENT END */

@media (max-width:1000px){
    #navbarLogo{
        margin-left: 1em;
    }
    .image{
        width: 100%;
    }
    #loginTabsDiv>div{
        width: 5em;
    }
}