/* debug styles start */
div{
    border: 1px solid;
}
/* debug styles end*/

*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;   
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url(../../Resources/eleTrunkLogin.jpg);
    background-size: cover;
}
.sep{
    border: 1px solid;
    width: 90%;
    margin: auto;
}
#loginDiv{
    height: 400px;
    width: 600px;
    background-color: whitesmoke;
    border-radius: 2em;
    color: black;
}  
    #titleDiv, #buttonDiv{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #usernameDiv, #passDiv{
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 10em;
        height: 20%;
        column-gap: 1em;
    }
    .inputField{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .inputField>div{
            width: 50%;
        }
        
    #titleDiv{
        width: 100%;
        height: 20%;
    }
    #titleDiv>h1{
        font-size: 40px;
    }
        /* #usernameDiv>p, #passDiv>p{
            font-size: x-large;
            font-weight: bold;
            font-family: 'Helvetica', sans-serif;
        }
        input{
            height: 40%;
            width: 30%;
            border-radius: 0.25em;
            border: 1px solid gray;
        } */
    #buttonDiv{
        width: 20%;
        height: auto;
        margin: auto;
    }
    #buttonDiv>button{
        width: 100%;
        height: 100%;
    }

    