*{
    margin: 0;  
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
    #image{
        height: 70vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../Resources/grantecan.png);
    }

    #mainContent{
        height: fit-content;
        padding-top: 1em;
        padding-bottom: 3em;
    }
        #tableOfContents{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contentTab{
            height: 3em;
            width: 10em;
            
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 0.5em;
            border-top-left-radius: 0.75em;
            border-top-right-radius: 0.75em;
            border: 1px solid gray;
            padding-bottom: 5px;
        }
        .contentPage{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .contentPage>div{
                min-width: 50%;
                background-color: white;
                padding: 1em;
                border: 1px solid gray;
                border-radius: 0.5em;
            }
            #datos{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #datos>*{
                padding-left: 1em;
            }
                .userDesc{
                    width: 70%;
                    height: 10em;
                }
                    .userDescFieldDiv{
                        height: calc(100%/3);

                        display: flex;
                        align-items: center;
                    }
                .profileImage{
                    border: 1px solid;
                    border-radius: 100%;
                    width: 10em;
                    height: 10em;
                    background-image: url(../../Resources/defaultUser.png);
                    background-size: contain;
                }

            #observations{
                width: auto;
                padding: 0em !important;
            }
            #observations>*{
                width: 100%;
            }
                .obsTitle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1em;
                }
                .observationGrid{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 10px;
                    row-gap: 10px;

                    padding: 0em 1em 1em 1em;
                }
                    .card{
                        width: calc(250px + 1em);
                        height: fit-content; 
                        padding: 0.5em;

                        border: 1px solid gray;
                        border-radius: 1em;
                        background-color: rgba(189, 189, 189, 0.2);

                        cursor: pointer;
                    }
                    .card>a, .card>a:visited, .card>a:link{
                        text-decoration: none;
                        color: black;

                    }
                        .obsCardImageDiv{
                            height: 250px;
                            width: 250px;

                            border-radius: 1em 1em 0em 0em;
                            background-color:dimgray;
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                            .obsCardImage{
                                height: 250px;
                                width: 250px;

                                border-radius: calc(1em - 0.5em) calc(1em - 0.5em) 0em 0em; 
                                background-size: contain;
                            }
                            .obsCardDesc{
                                padding: 0.5em;
                                height: auto;
                                width: 250px;
                            }
                        .obsCardDesc>div{
                            display: flex;
                            align-items:baseline;
                            justify-content:space-between;

                            padding-left: 1em;
                            padding-right: 1em;
                        }
                            .obsTitle>p{
                                width: 100%;
                                text-align: center;
                                font-weight: bold;
                            }
                            .obsDate{
                                display: block !important;
                            }
                                .obsDate>div{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }   

    #footer{
        width: 100%;
        height: 20vh;

        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: rgba(128, 128, 128, 0.2);
    }