/* 
TODO: MAINCONTENT RESPONSIVE. 
    hacer un display block con un @media
*/



*{
    margin: 0;  
    font-family: sans-serif;
    box-sizing: border-box;     
}
/* FONTS */
.optionTitle{
    color: #181614;
    text-align: right;
    font-family: Arial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.buttonText{
    color: #181614;
    text-align: center;
    font-family: Arial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title{
    color: #181614;
    font-family: Arial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subTitle{
    color: #181614;
    font-family: Arial;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* FONTS END */

body::-webkit-scrollbar{
    display: none;
}

    .image{
        width: 100%;
        height: fit-content;
        
        margin: 0;
    }
        img{
            width: 100%;
            height: max-content;
        }

    .mainContent{
        height: auto;
        width: 100%;

        display: flex;
        align-items: top;
        column-gap: 1rem;

        padding: 2rem 5% 2rem 5%;
    }
        .menuOptionsDiv{
            width: 10.0rem;
            height: auto;
        }
            .stickyDiv{
                width: 100%;
                height: auto;
                position: sticky;
                top: 3rem;
            }
                .menuOption{
                    text-decoration: none;
                    height: max-content;
                    margin-bottom: 1rem;
                    width: 100%;

                    cursor: pointer;
                }

                /* .menuOption:hover{
                    text-decoration: underline;
                } */

        .sep{
            border: 1px solid;
            height: auto;
        }

        .content{
            width: calc(100% - 1rem - 1px - 1rem - 10rem);
            height: auto;
        }
            .content>div{
                height: auto;
                max-width: 100%;
                min-width: 30%;
            }

            .divBotonAdd{
                width: auto;
                height: auto;
                padding: 0 0 1rem 0;
            }
                .boton{
                    
                    width: 9.3125rem;
                    height: 3.25rem;
                    background-color: rgb(152, 241, 255);
                    box-shadow: 0px 4px 4px 0px rgba(24, 22, 20, 0.20);;
                    border-radius: 1rem;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .boton>p{
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                }

            /* DATA START */
            #data{
                /* display: none; */
                display: flex;
                flex-direction: row;
                column-gap: 2rem;

            }
                .userImage{
                    width: 12rem;
                    height: 12rem;

                    background-image: url(../../Resources/defaultUser.png);
                    background-size: contain;

                    border-radius: 100%;
                }

                .userDetailsDiv{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 1rem;
                }

                    .userDetailsDiv>div{
                        width: auto;

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        column-gap: 1rem;
                        
                    }
            /* DATA END */
            /* OBSERVATIONS START */
            #observations{
                width: 100%;
                height: auto;

                /* display: none; */
                display: inline-flex;
                
                align-items: flex-start;
                align-content: flex-start;
                
                gap: 1rem;
                flex-wrap: wrap;
            }
                .card{
                    width: 16.10969rem;
                    height: auto;

                    flex-shrink: 0;
                    border-radius: 1rem;
                    background: #D9D9D9;
                    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }
                    .obsImage{
                        width: 100%;
                        height: 15.8rem;
                        background-image: url(../../Resources/m31_cut.jpg);
                        background-size: contain;
                        border-radius: 1rem 1rem 0rem 0rem;
                    }
                    .obsDataDiv{
                        width: 100%;
                        height: auto;
                        padding: 0px 10px 10px 10px;
                        
                        display: block;
                        
                        border-radius: 0rem 0rem 1rem 1rem;
                    }

                        .obsTitle{
                            height: auto;

                            color: #181614;
                            text-align: center;
                            font-family: Arial;
                            font-size: 1.25rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                        .obsData{
                            height: auto;
                        }
                            .obsData>div{

                                width: 100%;
                                display: inline-flex;
                                align-items:center;
                                justify-content: space-between;
                            }
            /* OBSERVATIONS END */
            /* PHOTOS START */
            #photos{
                height: auto;

                display: flex;
                flex-wrap: wrap;
                gap: 5px
            }
                .column{
                    flex: 33%;
                    max-width: 33%;
                }
                
            /* PHOTOS END */

#footer{
    width: 100%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(128, 128, 128, 0.2);
}