<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OARA - Galería</title>
    <link rel="icon" type="image/x-icon" href="../Resources/favicon.svg">
    <link rel="stylesheet" href="./styles/colors.css">
    <link rel="stylesheet" href="./styles/fonts.css">
    <link rel="stylesheet" href="./styles/meta.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/galeria.css">
    
    <script src="../jquery-3.7.0.min.js"></script>
    <script src="./index.js"></script>
    <script src="./galeria.js"></script>
</head>
<body onload="loadphotos()">
    <div class="navbar">
        <div class="navbarTab" id="navbarLogo">
            <a href="index.html" class="navbarOARA">OARA</a>
        </div>
        <div id="navbarContent">
            <div id="pageTabsDiv">
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="./turismo.html" class="navbarLeftTabs">Turismo</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="galeria.html" class="navbarLeftTabs">Galería</a>
                </div>
            </div>
            <div id="loginTabsDiv">
                <div class="navbarTab loginTab nabvarRightTabs" id="configButton"><a href="./registerPage.html">Sign In</a></div>
                <div class="navbarTab loginTab nabvarRightTabs" id="sessionButton"><a href="./login.html">Log In</a></div>
            </div>
        </div>
    </div>
    <div class="mainContent">
    </div>
    <div id="footer">
        <p>&#169; Manel Lagunas Cerni 2023</p>
    </div>
</body>
</html>