<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto OARA - Home</title>
    <link rel="stylesheet" href="./styles/indexStyle.css">
</head>
<body>
    <div class="navbar">
        <div class="navbarTab" id="navbarLogo">
            <a href="">OARA</a>
        </div>
        <div id="navbarContent">
            <div id="pageTabsDiv">
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="">TurismoTab</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="">QuienesSomosTab</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="">ForoTab</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="">GaleriaTab</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="">TuTab</a>
                </div>
            </div>
            <div id="loginTabsDiv">
                <div class="navbarTab loginTab" id="placeholder"><a href="">SignIN</a></div>
                <div class="navbarTab loginTab" id="placeholder"><a href="">LogIn</a></div>
            </div>
        </div>
    </div>
    <div id="mainContent">
        <div id="bgImageDiv">
            <div id="titleDiv">
                <p id="titleText"><b>OARA</b></p>
                <div class="sep"></div>
                <p id="subTitleText">Observatorio Astronómico del Rincón de Ademuz</p>
            </div>
        </div>
        <div id="cardsDiv">
            <div class="card">
                <div class="cardImg"></div>
                <div class="cardContent">
                    <p class="cardTitle">Texto de título</p>
                    <p class="cardDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rerum officia porro optio quis laboriosam sunt ipsum modi eius neque soluta quos quas debitis qui distinctio velit itaque, et commodi?</p>
                </div>
            </div>
            <div class="card">
                <div class="cardImg"></div>
                <div class="cardContent">
                    <p class="cardTitle">Texto de título</p>
                    <p class="cardDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rerum officia porro optio quis laboriosam sunt ipsum modi eius neque soluta quos quas debitis qui distinctio velit itaque, et commodi?</p>
                </div>
            </div>
            <div class="card">
                <div class="cardImg"></div>
                <div class="cardContent">
                    <p class="cardTitle">Texto de título</p>
                    <p class="cardDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rerum officia porro optio quis laboriosam sunt ipsum modi eius neque soluta quos quas debitis qui distinctio velit itaque, et commodi?</p>
                </div>
            </div>
            <div class="card">
                <div class="cardImg"></div>
                <div class="cardContent">
                    <p class="cardTitle">Texto de título</p>
                    <p class="cardDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rerum officia porro optio quis laboriosam sunt ipsum modi eius neque soluta quos quas debitis qui distinctio velit itaque, et commodi?</p>
                </div>
            </div>
        </div>
        <br>
        <div class="sep"></div>
        <div id="textDiv">
            <h1>El Observatorio Astronómico del Rincón de Ademuz</h1>
            <p>
                En la serena localidad de Torrebaja, en el encantador Rincón de Ademuz, se erige el Observatorio Astronómico del Rincón de Ademuz (OARA), una joya celestial en manos del joven y visionario estudiante Manel Lagunas. A sus apenas 20 años, Lagunas ha dado vida a un observatorio amateur con el propósito de explorar y difundir la belleza del universo, y recientemente ha abierto sus puertas al público general y científico.
                <br><br>
                Desde temprana edad, Manel Lagunas ha sentido una profunda fascinación por el cielo nocturno y los misterios del cosmos. Con su espíritu curioso y una pasión desbordante por la astronomía, decidió canalizar su energía y conocimiento en la creación de un observatorio propio en su amada localidad de Torrebaja.
                Guiado por su dedicación y el deseo de compartir su amor por las estrellas, Manel Lagunas se embarcó en la tarea de materializar su sueño. A pesar de contar con recursos limitados, el joven estudiante puso todo su empeño en adquirir los instrumentos necesarios y construir el OARA.
                <br><br>
                Inicialmente concebido como un proyecto amateur, el observatorio ha ido evolucionando y expandiendo su alcance. Manel Lagunas ha dedicado incansables horas de estudio y observación para desarrollar una comprensión profunda del firmamento y compartir su conocimiento con aquellos que desean descubrir los secretos del universo.
                Recientemente, el OARA ha dado un paso adelante al abrir sus puertas al público en general y a la comunidad científica. Ahora, tanto los amantes de la astronomía como los investigadores pueden maravillarse con los astros bajo la guía experta de Manel Lagunas. <br>
                Este observatorio, enclavado en un entorno privilegiado, brinda a los visitantes la oportunidad de explorar el cosmos a través de la observación directa y la participación en charlas educativas. Su apertura al público general ha despertado un nuevo interés en la comunidad local, cautivando a jóvenes y adultos por igual, y ha establecido un puente entre la ciencia y la sociedad.
                <br><br>
                El OARA es una muestra palpable de la pasión y el empuje de su creador, Manel Lagunas. Su visión y dedicación han permitido que esta modesta iniciativa amateur se convierta en un espacio de exploración celestial y aprendizaje, brindando a todos la oportunidad de maravillarse con la grandeza del universo.
                <br><br>
                <small>Powered by OpenAI</small>
            </p>
        </div>
        <div class="sep"></div>
        <br> 
        <div id="imageDiv">
            <img class="image" src="../Resources/tb_bwIndex.jpg"alt="" srcset="">
        </div>
        <br>
        <div id="footer">
            <p>&#169; Manel Lagunas Cerni 2023</p>
        </div>
    </div>
</body>
</html>