<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto OARA</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div class="navbar">
        <div id="navbarLogo">
            <p>LOGO</p>
        </div>
        <div id="navbarContent">
            <div id="pageTabsDiv">
                <div class="nabvarTab pageTab" id="placeholder">TurismoTab</div>
                <div class="nabvarTab pageTab" id="placeholder">QuienesSomosTab</div>
                <div class="nabvarTab pageTab" id="placeholder">ForoTab?</div>
                <div class="nabvarTab pageTab" id="placeholder">GaleriaTab</div>
                <div class="nabvarTab pageTab" id="placeholder">TuTab</div>
            </div>
            <div id="loginTabsDiv">
                <div class="navbarTab" id="placeholder">iniciarSesionBUTTON</div>
                <div class="navbarTab" id="placeholder">RegistrarseBUTTON</div>
            </div>
        </div>
    </div>
    <div id="mainContent">
        <div id="bgImageDiv">bgImageDiv</div>
        <div id="cardsDiv">cards</div>
        <div id="textDiv">text</div>
    </div>
</body>
</html>