<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OARA - Login</title>
    <link rel="stylesheet" href="./styles/loginStyles.css">
</head>
<body>
    <div class="bg-image"></div>
    <div id="loginDiv">
        <div id="titleDiv">
            <h1>OARA</h1>
        </div>
        <div class="sep"></div>
        <div class="inputField" id="">
            <div>
                <p>Usuario:</p>
            </div>
            <div>
                <input type="text" name="" id="" placeholder="OrionM42">
            </div>
        </div>
        <div id="passDiv">
            <p>Contraseña:</p>
            <input type="password" name="" id="" placeholder="Contraseña">
        </div>
        <div id="buttonDiv">
            <button class="sendLogin" onclick="sendLogin()">
                IniciarSesionBtn
            </button>
        </div>
    </div>
</body>
</html>