<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OARA - Sign In</title>
    <link rel="icon" type="image/x-icon" href="../Resources/favicon.png">
    <link rel="stylesheet" href="./styles/fonts.css">
    <link rel="stylesheet" href="./styles/colors.css">
    <link rel="stylesheet" href="./styles/navbar.css">

    <link rel="stylesheet" href="./styles/loginStyles.css">
    
    <script src="../jquery-3.7.0.min.js"></script>
    <script src="./registerPage.js"></script>
</head>
<body>
    <div class="bg-image" style="background-image: url(../Resources/runningChickenSHO.webp);"></div>
    <div id="loginDiv">
        <div id="titleDiv">
            <a href="index.html" style="color: black; text-decoration: none;">
                <h1 class="contentTitleText">OARA</h1>
            </a>
        </div>
        <div class="sep"></div>
        <div class="inputDiv" id="">
            <div class="inputText">
                <p>Elige tu nombre de usuario:</p>
            </div>
            <div class="inputInput">
                <input type="text" name="" id="inputUser" placeholder="OrionM42">
            </div>
        </div>
        <div class="inputDiv">
            <div class="inputText">
                <p>Contraseña:</p>
            </div>
            <div class="inputInput">
                <input type="password" name="" id="inputPass1" placeholder="Contraseña">
            </div>
        </div>
        <div class="inputDiv">
            <div class="inputText">
                <p>Repite tu contraseña:</p>
            </div>
            <div class="inputInput">
                <input type="password" name="" id="inputPass2" placeholder="Contraseña">
            </div>
        </div>
        <div class="inputDiv">
            <div class="inputText">
                <p>Tu Email:</p>
            </div>
            <div class="inputInput">
                <input type="email" name="" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="errMessage" id="errMessage"><small>Debería aparecer un error aquí</small></div>
        <div class="registerLink" id="errMessage"><small><a href="login.html">Ya tienes una cuenta? Inicia Sesión</a></small></div>
        <div id="buttonDiv">
            <button class="sendLogin" onclick="sendRegister()">
                Iniciar sesión
            </button>
        </div>
    </div>
</body>
</html>