<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OARA - Turismo</title>
    <link rel="icon" type="image/x-icon" href="../Resources/favicon.svg">
    <link rel="stylesheet" href="./styles/colors.css">
    <link rel="stylesheet" href="./styles/fonts.css">
    <link rel="stylesheet" href="./styles/meta.css">
    <link rel="stylesheet" href="./styles/indexStyle.css">
    <link rel="stylesheet" href="./styles/navbar.css">

    <script src="../jquery-3.7.0.min.js"></script>
    <script src="./index.js"></script>
    <script src="./reserva.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbarTab" id="navbarLogo">
            <a href="index.html" class="navbarOARA">OARA</a>
        </div>
        <div id="navbarContent">
            <div id="pageTabsDiv">
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="./turismo.html" class="navbarLeftTabs">Turismo</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="galeria.html" class="navbarLeftTabs">Galería</a>
                </div>
            </div>
            <div id="loginTabsDiv">
                <div class="navbarTab loginTab nabvarRightTabs" id="configButton"><a href="./registerPage.html">Sign In</a></div>
                <div class="navbarTab loginTab nabvarRightTabs" id="sessionButton"><a href="./login.html">Log In</a></div>
            </div>
        </div>
    </div>
    <div id="mainContent">
        <div class="bgImageDiv turismo" title="Vía Láctea desde 
el Hemisferio Sur">
            <div>
                <p class="pageMainTitle text-font-white">Turismo</p>
                <div class="sep sep-white"></div>
                <p class="pageMainSubTitle text-font-white">Observatorio Astronómico del Rincón de Ademuz</p>
            </div>
        </div>
        <br>
        <div class="sep"></div>
        <div id="textDiv">
            <h1 class="contentTitleText text-black">Turismo</h1>
            <p class="contentText text-black">
                ¡Bienvenidos al Observatorio Astronómico del Rincón de Ademuz, donde la maravilla del cielo se encuentra con la autenticidad de la tierra! Aquí, la exploración astronómica se combina con experiencias únicas que te invitamos a descubrir durante todo el año.
            </p>
            <p class="text-black">
                <span class="contentSubTitleText">Visitas Guiadas al Observatorio:</span>
                <br>
                <span class="contentText">Nuestras visitas guiadas te llevarán a un fascinante viaje a través del cosmos. Con Manel Lagunas como guía, podrás explorar el observatorio y conocer los secretos del universo. ¡Y lo mejor es que estamos abiertos durante todo el año! Desde las constelaciones de invierno hasta las noches estrelladas de verano, siempre hay algo increíble que observar.</span>
            </p>
            <p class="text-black">
                <span class="contentSubTitleText">Noches de Observación Astronómica:</span>
                <br>
                <span class="contentText">Para el público general, nuestras noches de observación astronómica son una experiencia imperdible. Equipados con telescopios de última generación, podrás sumergirte en el universo y maravillarte con la inmensidad del cielo estrellado. Las explicaciones de Manel Lagunas transformarán cada punto en el firmamento en una historia fascinante.</span>
            </p>
            <p class="text-black">
                <span class="contentSubTitleText">
                    Talleres de Astronomía y Astrofotografía:
                </span>
                <br>
                <span class="contentText">
                    ¿Quieres llevar tu pasión por las estrellas al siguiente nivel? Únete a nuestros talleres de astronomía y astrofotografía. Aprenderás a capturar la belleza del espacio en tus propias imágenes, guiado por expertos que comparten su conocimiento con entusiasmo.
                </span>
            </p>
        </div>
        <div class="sep"></div>
        <div id="textDiv">
            <p class="text-black">
                <b>Pero la experiencia no termina ahí. </b>
                <span class="contentText">Te animamos a explorar más allá del observatorio y sumergirte en las maravillas de los pueblos adyacentes a Torrebaja. Ademuz te espera con su encanto medieval, Casas Bajas con su autenticidad rural y Casas Altas con sus vistas panorámicas. Camina por los callejones empedrados de Castielfabib y revive la historia en cada rincón.</span>
            </p>
            <p class="text-black">
                <span class="contentSubTitleText">Rutas Senderistas y Actividades Locales:</span>
                <br>
                <span class="contentText">
                    Embárcate en rutas senderistas que te llevarán a través de paisajes impresionantes, desde bosques hasta colinas con vistas espectaculares. Sumérgete en la vida local participando en fiestas tradicionales como la Feria de la Manzana Esperiega, donde podrás degustar la variedad autóctona de la comarca. O deja que el aroma de la lavanda te envuelva en el Festival de la Lavanda de Ademuz. Descubre la riqueza cultural y gastronómica que define a esta región.
                </span>
                <br><br>
                <span class="contentText">
                    El Observatorio Astronómico del Rincón de Ademuz es solo el comienzo de una experiencia enriquecedora. Te instamos a explorar la región en su totalidad, descubriendo la belleza natural y cultural que la hace tan especial. ¡Ven y vive una experiencia completa que combina el asombro del cielo estrellado con la autenticidad de la vida en el Rincón de Ademuz!
                </span>
                <br><br>
            </p>
        </div>
        <div class="sep"></div>
        <div id="textDiv">
            <h1 class="contentTitleText">Reservas</h1>
            <p class="text-center">Reserva tu visita guiada al observatorio</p>

            <div class="wrapperCards">
                <div class="cardReserva lightgrey" id="card1">
                    <div class="titleReserva" style='background-image: url(../Resources/Paranal_VLT.webp);'>
                        <div>
                            <p class="text-font-white buttonText contentSubTitleText">Visita Guiada</p>
                            <p class="text-font-white buttonText">Visita guiada por el observatorio y las instalaciones</p>
                        </div>
                    </div>
                    <div class="reservaTexto">
                        <p class="contentText">
                            Duración: 2h
                        <br>
                        Tarifa:<br>
                            <ul>
                                <li>General: 15€</li>
                                <li>Reducida: 10€</li>
                            </ul>
                            Inicio de la actividad: 10:00h
                        <br>
                        <br>
                            Visita las instalaciones y conoce la historia, funcionamiento y misión del observatorio de la mano del fundador del mismo.
                        </p>
                    </div>
                    <div class="button-default-color" id="selectReservaBtn" onclick="selectReserva()"><p class="buttonText">Seleccionar</p></div>
                </div>
                <div class="cardReserva lightgrey" id="card2">
                    <div class="titleReserva" style="background-image: url(../Resources/talleres.png);">
                        <div>
                            <p class="text-font-white buttonText contentSubTitleText">Taller</p>
                            <p class="text-font-white buttonText">Taller de astronomía&ZeroWidthSpace;/astrofotografía</p>
                        </div>
                    </div>
                    <div class="reservaTexto">
                        <p class="contentText">
                            Duración: 3h
                            <br>
                                Tarifa:
                                <ul>
                                    <li>General: 40€</li>
                                    <li>Reducida: 30€</li>
                                </ul>
                            Inicio de la actividad: 17:00h
                            <br><br>
                            Conoce de primera mano la formación de los cuerpos celestiales y la explicación de la gravedad de una forma entretenida e interactiva!
                        </p>
                    </div>
                    <div class="button-default-color" id="selectReservaBtn" onclick="selectReserva()"><p class="buttonText">Seleccionar</p></div>
                </div>
                <div class="cardReserva lightgrey" id="card3">
                    <div class="titleReserva" style="background-image: url(../Resources/m33_211hours_1x1.webp);">
                        <div>
                            <p class="text-font-white buttonText contentSubTitleText">Observación</p>
                            <p class="text-font-white buttonText">Observación planetaria y de objetos/cuerpos espaciales</p>
                        </div>
                    </div>
                    <div class="reservaTexto">
                        <p class="contentText">
                            Duración: 3h
                            <br>
                            Tarifa:<br>
                            <ul>
                                <li>General: 40€</li>
                                <li>Reducida: 30€</li>
                            </ul>
                            Inicio de la actividad: 00:00h
                            <br>
                            <br>
                            Maravíllate observando las joyas de nuestro sistema solar y clústeres estelares.
                            <br>
                            Reembolso por clima desfavorable.
                        </p>
                    </div>
                    <div class="button-default-color" id="selectReservaBtn" onclick="selectReserva()"><p class="buttonText">Seleccionar</p></div>
                </div>
            </div>
        </div>
        <div class="sep"></div>
        <div id="textDiv">
            <h1 class="contentTitleText">Alojamiento</h1>
            <p class="text-center">Te dejamos algunos hostales/hoteles por si buscas alojamiento</p>
            <div>
                <div class="iframeDiv">
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1646.4904256764664!2d-1.2577540559752662!3d40.09623714004355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5dfcf846991bc7%3A0xbd950b3ab483cd25!2sHotel%2FRestaurante%20%22Casa%20Emilio%22!5e1!3m2!1ses!2ses!4v1700710546870!5m2!1ses!2ses" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="flex center">
                            <p class="contentText text-black">Casa Emilio, Torrebaja</p>
                        </div>
                    </div>
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2901.3273016279913!2d-1.2872010267640341!3d40.060003993994705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5dfc00eb152081%3A0xd5da0c5a879ca82c!2zQ2FzYSBSdXJhbCDigJxHYXJyaWRv4oCdLg!5e1!3m2!1ses!2ses!4v1700710685453!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="flex center">
                            <p class="contentText text-black">Casa Rural Garrido, Ademuz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>&#169; Manel Lagunas Cerni 2023</p>
        </div>
    </div>
</body>
</html>