<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto OARA - Tú</title>
    <link rel="stylesheet" href="./styles/colors.css">
    <link rel="stylesheet" href="./styles/fonts.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="icon" type="image/x-icon" href="../Resources/favicon.png">
    
    <link rel="stylesheet" href="./styles/tuTabStyles.css">
    <link rel="stylesheet" href="./styles/modal.css">

    <script src="../jquery-3.7.0.min.js"></script>
    <script src="./tuTab.js"></script>
    <script src="./index.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbarTab" id="navbarLogo">
            <a href="index.html">OARA</a>
        </div>
        <div id="navbarContent">
            <div id="pageTabsDiv">
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="./turismo.html">Turismo</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="./aboutUs.html">Nosotros</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href=".galeria.html">Galería</a>
                </div>
                <div class="navbarTab pageTab tuTab" id="placeholder">
                    <a href="">Perfil</a>
                </div>
            </div>
            <div id="loginTabsDiv">
                <div class="navbarTab loginTab" id="configButton"><a href="./registerPage.html">Sign In</a></div>
                <div class="navbarTab loginTab" id="sessionButton"><a href="./login.html">Log In</a></div>
            </div>
        </div>
    </div>
    <div class="image">
        <img src="../Resources/m31-21.8.2023_rc4-3by1.png" alt="" title="Galaxia Andrómeda.
Manel Lagunas">
    </div>
    <div class="mainContent">
        <div class="menuOptionsDiv">
            <div class="stickyDiv">
                <div class="menuOption" id="dataOption" onclick="tabShown('data')">
                    <p class="optionTitle">Tus datos</p>
                </div>
                <!-- <div class="menuOption" id="photosOption" onclick="tabShown('photos')">
                    <p class="optionTitle">Tus fotos</p>
                </div>
                <div class="menuOption" id="publicOption" onclick="tabShown('publications')">
                    <p class="optionTitle">Publicaciones</p>
                </div> -->
                <div class="menuOption" id="obsOption" onclick="tabShown('observations')">
                    <p class="optionTitle">Observaciones</p>
                </div>
            </div>
        </div>
        <div class="sep"></div>
        <div class="content">
            <div class="divBotonAdd">
                <div class="botonAdd button-default-color" onclick="add()">
                    <p class="buttonText text-black">Añadir Observación</p>
                </div>
            </div>
            <div id="data">
                <div class="userImage"></div>
                <div class="userDetailsDiv">
                    <div class="userNameTitle">
                        <p class="user title" id="usernameField">userName</p>
                    </div>
                    <div class="passwDiv">
                        <div><p class="passwordTitle subTitle">Password:</p></div>
                        <div><input type="password" name="" id="passwordInput"></div>
                    </div>
                    <div class="emailDiv">
                        <div><p class="emailTitle subTitle">Email:</p></div>
                        <div><input type="email" name="" id="emailInput"></div>
                    </div>
                </div>
            </div>
            <div id="photos">
                <div class="column">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                </div>
                <div class="column">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                </div>
                <div class="column">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                </div>
            </div>
            <div id="observations">
            </div>
            <div id="publications"></div>
            <div id="add">
                <div>
                    <div class="field1">
                        <div class="inputNombreObsDiv">
                            <div class="labelAdorno">
                                <div class="adorno button-default-color"></div>
                                <p class="title">Nombre Observación</p>
                            </div>
                            <div class="pad-content">
                                <input type="text" name="" id="inputNombreObs" class="input">
                            </div>
                        </div>
                        <div class="inputTargetObsDiv">
                            <div class="labelAdorno">
                                <div class="adorno button-default-color"></div>
                                <p class="title">Objeto a observar:</p>
                            </div>
                            <div class="pad-content">
                                <select name="objects" id="objectsSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="sep"></div>
                    <div class="field2 flex space-between">
                        <div class="flex-column space-between">
                            <div id="telescopioInputDiv" class="flex-column">
                                <div class="labelAdorno">
                                    <div class="adorno button-default-color"></div>
                                    <p class="title">Telescopio:</p>
                                </div>
                                <div id="telescopiosListDiv" class="flex-column pad-content">
                                    
                                </div>
                            </div>
                            <div class="sep"></div>
                            <div id="filtrosInputDiv" class="flex-column">
                                <div class="labelAdorno">
                                    <div class="adorno button-default-color"></div>
                                    <p class="title">Filtros:</p>
                                </div>
                                <div class="filtrosListDiv pad-content">
                                    <div class="flex">
                                        <input type="checkbox" name="filters" id="t1" value="L">
                                        <label for="t1">Luminance</label>
                                    </div>
                                    <div class="flex">
                                        <input type="checkbox" name="filters" id="t2" value="RGB">
                                        <label for="t2">RGB</label>
                                    </div>
                                    <div class="flex">
                                        <input type="checkbox" name="filters" id="t3" value="Sii">
                                        <label for="t3">Sii</label>
                                    </div>
                                    <div class="flex">
                                        <input type="checkbox" name="filters" id="t4" value="Oiii">
                                        <label for="t4" class="te">Oiii</label>
                                    </div>
                                    <div class="flex">
                                        <input type="checkbox" name="filters" id="t5" value="Ha">
                                        <label for="t5">H-Alpha</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column space-between">
                            <div id="startDateInputDiv">
                                <div class="labelAdorno">
                                    <div class="adorno button-default-color"></div>
                                    <p class="title">Fecha de inicio:</p>
                                </div>
                                <div class="flex center pad-content">
                                    <input type="date" name="" id="startDateInput" pattern="\d{4}-\d{2}-\d{2}">
                                </div>
                            </div>
                            <div class="sep"></div>
                            <div id="integracionInputDiv">
                                <div class="labelAdorno">
                                    <div class="adorno button-default-color"></div>
                                    <p class="title">Integración:</p>
                                </div>
                                <div class="flex center pad-content">
                                    <input type="number" name="" id="integracionNumberInput">
                                    <p>horas en total</p>
                                </div>
                            </div>
                            <div class="divBotonCrear">
                                <div class="botonCrear button-default-color" onclick="crearObs()">
                                    <p class="buttonText text-black">Crear Observación</p>
                                </div>
                            </div>
                            <div class="flex center" id="errMessage"><small></small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>&#169; Manel Lagunas Cerni 2023</p>
    </div>
</body>
</html>