<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OARA - Tú</title>
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/tuTabStyles.css">

    <script src="../jquery-3.7.0.min.js"></script>
    <script src="./tuTab.js"></script>
</head>
<body>
    <!-- Esta es la vista de tu perfil
        tiene: <br>
            a:link -> configuracion <br>
            a:link -> misFotos <br>
            a:link -> misObservaciones <br> -->
            
    <div class="navbar">
        <div class="navbarTab" id="navbarLogo">
            <a href="index.html">OARA</a>
        </div>
        <div id="navbarContent">
            <div id="pageTabsDiv">
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="./turismo.html">Turismo</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="./aboutUs.html">Nosotros</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href=".galeria.html">Galería</a>
                </div>
                <div class="navbarTab pageTab tuTab" id="placeholder">
                    <a href="">Tú</a>
                </div>
            </div>
            <div id="loginTabsDiv">
                <div class="navbarTab loginTab" id="configButton"><a href="./registerPage.html">Sign In</a></div>
                <div class="navbarTab loginTab" id="sessionButton"><a href="./login.html">Log In</a></div>
            </div>
        </div>
    </div>

    <div id="image"></div>

    <div id="mainContent">
        <div id="tableOfContents">  
            <div class="contentTab" id="profileTab" onclick="tabShown(0)">
                <p>Tus datos</p>
            </div>
            <div class="contentTab" id="photosTab" onclick="tabShown(1)">
                <p>Fotos</p>
            </div>
            <div class="contentTab" id="observationsTab" onclick="tabShown(2)">
                <p>Observaciones</p>
            </div>
            <div class="contentTab" id="publicationsTab" onclick="tabShown(3)">
                <p>Publicaciones</p>
            </div>
        </div>

        <div class="contentPage"> 
            <div id="datos">
                <div class="profileImage"></div>
                <div class="userDesc">
                    <div class="userDescFieldDiv">
                        <p>
                            Nombre:
                            <input type="text" name="" id="" value="jeje" disabled>
                        </p>
                    </div>
                    <div class="userDescFieldDiv">
                        <p>
                            Contraseña:
                            <input type="password" name="" id="" value="jeje" disabled>
                        </p>
                    </div>
                    <div class="userDescFieldDiv">
                        <p>
                            Email:
                            <input type="email" name="" id="" value="jeje" disabled>
                        </p>
                    </div>
                </div>
            </div>
            
            <div id="photos">
                no tienes fotos publicadas
            </div>
            
            <div id="observations">

                <div class="obsTitle">
                    <!-- no tienes observaciones hechas <button onclick="createObservation()">crear una</button> -->
                    <h2>Tus Observaciones</h2>
                </div>


                <div class="observationGrid">
                    <div id="obsCard0" class="card" onclick="obsDetails(0)">
                        <div class="obsCardImageDiv">
                            <img class="obsCardImage" src="../Resources/m31_cut.jpg">
                        </div>
                        <div class="obsCardDesc">
                            <div class="obsCardTitle">
                                <p id="obsName">Lorem ipsum</p>
                            </div>
                            <br>
                            <div class="obsTarget">
                                <p>Target:</p>
                                <p id="targetName">m123213214</p>
                            </div>
                            <div class="obsTelescope">
                                <p>Telescope: </p><p id="telName">TAK 103FSQ</p>
                            </div>
                            <div class="obsDate">
                                <div>
                                    <p>Inicio:</p>
                                    <p id="dateStart">00/00/0000</p>
                                </div>
                                <div>
                                    <p>Fin:</p>
                                    <p id="dateEnd">99/99/9999</p>
                                </div>
                            </div>
                            <div class="obsCompletion">
                                <p>Progreso:</p>
                                <p id="progressPerc">43%</p>
                            </div>
                        </div>
                    </div>
                    <div id="obsCard1" class="card" onclick="obsDetails(1)">
                        <div class="obsCardImageDiv">
                            <img class="obsCardImage" src="../Resources/m31_cut.jpg">
                        </div>
                        <div class="obsCardDesc">
                            <div class="obsCardTitle">
                                <p id="obsName">Lorem ipsum</p>
                            </div>
                            <br>
                            <div class="obsTarget">
                                <p>Target:</p>
                                <p id="targetName">m123213214</p>
                            </div>
                            <div class="obsTelescope">
                                <p>Telescope: </p><p id="telName">TAK 103FSQ</p>
                            </div>
                            <div class="obsDate">
                                <div>
                                    <p>Inicio:</p>
                                    <p id="dateStart">00/00/0000</p>
                                </div>
                                <div>
                                    <p>Fin:</p>
                                    <p id="dateEnd">99/99/9999</p>
                                </div>
                            </div>
                            <div class="obsCompletion">
                                <p>Progreso:</p>
                                <p id="progressPerc">43%</p>
                            </div>
                        </div>
                    </div>
                    <div id="obsCard2" class="card" onclick="obsDetails(2)">
                        <div class="obsCardImageDiv">
                            <img class="obsCardImage" src="../Resources/m31_cut.jpg">
                        </div>
                        <div class="obsCardDesc">
                            <div class="obsCardTitle">
                                <p id="obsName">Lorem ipsum</p>
                            </div>
                            <br>
                            <div class="obsTarget">
                                <p>Target:</p>
                                <p id="targetName">m123213214</p>
                            </div>
                            <div class="obsTelescope">
                                <p>Telescope: </p><p id="telName">TAK 103FSQ</p>
                            </div>
                            <div class="obsDate">
                                <div>
                                    <p>Inicio:</p>
                                    <p id="dateStart">00/00/0000</p>
                                </div>
                                <div>
                                    <p>Fin:</p>
                                    <p id="dateEnd">99/99/9999</p>
                                </div>
                            </div>
                            <div class="obsCompletion">
                                <p>Progreso:</p>
                                <p id="progressPerc">43%</p>
                            </div>
                        </div>
                    </div>
                    <div id="obsCard3" class="card" onclick="obsDetails(3)">
                        <div class="obsCardImageDiv">
                            <img class="obsCardImage" src="../Resources/m31_cut.jpg">
                        </div>
                        <div class="obsCardDesc">
                            <div class="obsCardTitle">
                                <p id="obsName">Lorem ipsum</p>
                            </div>
                            <br>
                            <div class="obsTarget">
                                <p>Target:</p>
                                <p id="targetName">m123213214</p>
                            </div>
                            <div class="obsTelescope">
                                <p>Telescope: </p><p id="telName">TAK 103FSQ</p>
                            </div>
                            <div class="obsDate">
                                <div>
                                    <p>Inicio:</p>
                                    <p id="dateStart">00/00/0000</p>
                                </div>
                                <div>
                                    <p>Fin:</p>
                                    <p id="dateEnd">99/99/9999</p>
                                </div>
                            </div>
                            <div class="obsCompletion">
                                <p>Progreso:</p>
                                <p id="progressPerc">43%</p>
                            </div>
                        </div>
                    </div>
                    <div id="obsCard4" class="card" onclick="obsDetails(4)">
                        <div class="obsCardImageDiv">
                            <img class="obsCardImage" src="../Resources/m31_cut.jpg">
                        </div>
                        <div class="obsCardDesc">
                            <div class="obsCardTitle">
                                <p id="obsName">Lorem ipsum</p>
                            </div>
                            <br>
                            <div class="obsTarget">
                                <p>Target:</p>
                                <p id="targetName">m123213214</p>
                            </div>
                            <div class="obsTelescope">
                                <p>Telescope: </p><p id="telName">TAK 103FSQ</p>
                            </div>
                            <div class="obsDate">
                                <div>
                                    <p>Inicio:</p>
                                    <p id="dateStart">00/00/0000</p>
                                </div>
                                <div>
                                    <p>Fin:</p>
                                    <p id="dateEnd">99/99/9999</p>
                                </div>
                            </div>
                            <div class="obsCompletion">
                                <p>Progreso:</p>
                                <p id="progressPerc">43%</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div id="publications">
                no has hecho ninguna publicacion
            </div>
        </div>
</div>
    
    <div id="footer">
        <p>&#169; Manel Lagunas Cerni 2023</p>
    </div>
</body>
</html>