<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto OARA - Home</title>
    <link rel="stylesheet" href="./styles/navbar.css">
    <!-- <link rel="stylesheet" href="./styles/tuTabStyles.css"> -->
    <link rel="stylesheet" href="./styles/tuTabStyles2.css">

    <script src="../jquery-3.7.0.min.js"></script>
    <script src="./tuTab2.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbarTab" id="navbarLogo">
            <a href="">OARA</a>
        </div>
        <div id="navbarContent">
            <div id="pageTabsDiv">
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="./turismo.html">Turismo</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href="./aboutUs.html">Nosotros</a>
                </div>
                <div class="navbarTab pageTab" id="placeholder">
                    <a href=".galeria.html">Galería</a>
                </div>
                <div class="navbarTab pageTab tuTab" id="placeholder">
                    <a href="">Tú</a>
                </div>
            </div>
            <div id="loginTabsDiv">
                <div class="navbarTab loginTab" id="configButton"><a href="./registerPage.html">Sign In</a></div>
                <div class="navbarTab loginTab" id="sessionButton"><a href="./login.html">Log In</a></div>
            </div>
        </div>
    </div>
    <div class="image">
        <img src="../Resources/m31-21.8.2023_rc4-3by1.png" alt="">
    </div>
    <div class="mainContent">
        <div class="menuOptionsDiv">
            <div class="stickyDiv">
                <div class="menuOption" id="dataOption" onclick="tabShown('data')">
                    <p class="optionTitle">Tus datos</p>
                </div>
                <div class="menuOption" id="photosOption" onclick="tabShown('photos')">
                    <p class="optionTitle">Tus fotos</p>
                </div>
                <div class="menuOption" id="publicOption" onclick="tabShown('publications')">
                    <p class="optionTitle">Publicaciones</p>
                </div>
                <div class="menuOption" id="obsOption" onclick="tabShown('observations')">
                    <p class="optionTitle">Observaciones</p>
                </div>
            </div>
        </div>
        <div class="sep"></div>
        <div class="content">
            <div class="divBotonAdd">
                <div class="boton">
                    <p class="buttonText">Añadir Observación</p>
                </div>
            </div>
            <div id="data">
                <div class="userImage"></div>
                <div class="userDetailsDiv">
                    <div class="userNameTitle">
                        <p class="user title">userName</p>
                    </div>
                    <div class="passwDiv">
                        <div><p class="passwordTitle subTitle">Password:</p></div>
                        <div><input type="password" name="" id="passwordInput"></div>
                    </div>
                    <div class="emailDiv">
                        <div><p class="emailTitle subTitle">Email:</p></div>
                        <div><input type="email" name="" id="emailInput"></div>
                    </div>
                </div>
            </div>
            <div id="photos">
                <div class="column">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                </div>
                <div class="column">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                </div>
                <div class="column">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                    <img src="../Resources/colorTV_test_4by5.png" alt="" style="width: 100%;">
                </div>
            </div>
            <div id="observations">
                <div class="card" id="card0">
                    <div class="obsImage"></div>
                    <div class="obsDataDiv">
                        <div class="obsTitle">
                            <p class="title">Lorem, ipsum.</p>
                        </div>
                        <div class="obsData">
                            <div class="targetCoordsDiv">
                                <div class="targetTitle"><p class="subTitle">Target:</p></div>
                                <div class="targetData"><p class="subTitle">RA: 30.18 DEC: 1.12</p></div>
                            </div>
                            <div class="telescopeDiv">
                                <div class="telTitle"><p class="subTitle">Telescope:</p></div>
                                <div class="telData"><p class="subTitle">TAK FSQ103</p></div>
                            </div>
                            <div class="filtersDiv">
                                <div class="filtersTitle"><p class="subTitle">Filters:</p></div>
                                <div class="filtersData"><p class="subTitle">L,R,G,B,Ha,Oiii</p></div>
                            </div>
                            <div class="startDiv">
                                <div class="startTitle"><p class="subTitle">Start:</p></div>
                                <div class="startDate"><p class="subTitle">00/00/0000</p></div>
                            </div>
                            <div class="integrationDiv">
                                <div class="integrationTitle"><p class="subTitle">Total time:</p></div>
                                <div class="integrationTime"><p class="subTitle">75h</p></div>
                            </div>
                            <div class="progressDiv">
                                <div class="progressTitle"><p class="subTitle">Progress:</p></div>
                                <div class="progressPerc"><p class="subTitle">50%</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="card2">
                    <div class="obsImage"></div>
                    <div class="obsDataDiv">
                        <div class="obsTitle">
                            <p class="title">Lorem, ipsum.</p>
                        </div>
                        <div class="obsData">
                            <div class="targetCoordsDiv">
                                <div class="targetTitle"><p class="subTitle">Target:</p></div>
                                <div class="targetData"><p class="subTitle">RA: 30.18 DEC: 1.12</p></div>
                            </div>
                            <div class="telescopeDiv">
                                <div class="telTitle"><p class="subTitle">Telescope:</p></div>
                                <div class="telData"><p class="subTitle">TAK FSQ103</p></div>
                            </div>
                            <div class="filtersDiv">
                                <div class="filtersTitle"><p class="subTitle">Filters:</p></div>
                                <div class="filtersData"><p class="subTitle">L,R,G,B,Ha,Oiii</p></div>
                            </div>
                            <div class="startDiv">
                                <div class="startTitle"><p class="subTitle">Start:</p></div>
                                <div class="startDate"><p class="subTitle">00/00/0000</p></div>
                            </div>
                            <div class="integrationDiv">
                                <div class="integrationTitle"><p class="subTitle">Total time:</p></div>
                                <div class="integrationTime"><p class="subTitle">75h</p></div>
                            </div>
                            <div class="progressDiv">
                                <div class="progressTitle"><p class="subTitle">Progress:</p></div>
                                <div class="progressPerc"><p class="subTitle">50%</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="card3">
                    <div class="obsImage"></div>
                    <div class="obsDataDiv">
                        <div class="obsTitle">
                            <p class="title">Lorem, ipsum.</p>
                        </div>
                        <div class="obsData">
                            <div class="targetCoordsDiv">
                                <div class="targetTitle"><p class="subTitle">Target:</p></div>
                                <div class="targetData"><p class="subTitle">RA: 30.18 DEC: 1.12</p></div>
                            </div>
                            <div class="telescopeDiv">
                                <div class="telTitle"><p class="subTitle">Telescope:</p></div>
                                <div class="telData"><p class="subTitle">TAK FSQ103</p></div>
                            </div>
                            <div class="filtersDiv">
                                <div class="filtersTitle"><p class="subTitle">Filters:</p></div>
                                <div class="filtersData"><p class="subTitle">L,R,G,B,Ha,Oiii</p></div>
                            </div>
                            <div class="startDiv">
                                <div class="startTitle"><p class="subTitle">Start:</p></div>
                                <div class="startDate"><p class="subTitle">00/00/0000</p></div>
                            </div>
                            <div class="integrationDiv">
                                <div class="integrationTitle"><p class="subTitle">Total time:</p></div>
                                <div class="integrationTime"><p class="subTitle">75h</p></div>
                            </div>
                            <div class="progressDiv">
                                <div class="progressTitle"><p class="subTitle">Progress:</p></div>
                                <div class="progressPerc"><p class="subTitle">50%</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="card4">
                    <div class="obsImage"></div>
                    <div class="obsDataDiv">
                        <div class="obsTitle">
                            <p class="title">Lorem, ipsum.</p>
                        </div>
                        <div class="obsData">
                            <div class="targetCoordsDiv">
                                <div class="targetTitle"><p class="subTitle">Target:</p></div>
                                <div class="targetData"><p class="subTitle">RA: 30.18 DEC: 1.12</p></div>
                            </div>
                            <div class="telescopeDiv">
                                <div class="telTitle"><p class="subTitle">Telescope:</p></div>
                                <div class="telData"><p class="subTitle">TAK FSQ103</p></div>
                            </div>
                            <div class="filtersDiv">
                                <div class="filtersTitle"><p class="subTitle">Filters:</p></div>
                                <div class="filtersData"><p class="subTitle">L,R,G,B,Ha,Oiii</p></div>
                            </div>
                            <div class="startDiv">
                                <div class="startTitle"><p class="subTitle">Start:</p></div>
                                <div class="startDate"><p class="subTitle">00/00/0000</p></div>
                            </div>
                            <div class="integrationDiv">
                                <div class="integrationTitle"><p class="subTitle">Total time:</p></div>
                                <div class="integrationTime"><p class="subTitle">75h</p></div>
                            </div>
                            <div class="progressDiv">
                                <div class="progressTitle"><p class="subTitle">Progress:</p></div>
                                <div class="progressPerc"><p class="subTitle">50%</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="card5">
                    <div class="obsImage"></div>
                    <div class="obsDataDiv">
                        <div class="obsTitle">
                            <p class="title">Lorem, ipsum.</p>
                        </div>
                        <div class="obsData">
                            <div class="targetCoordsDiv">
                                <div class="targetTitle"><p class="subTitle">Target:</p></div>
                                <div class="targetData"><p class="subTitle">RA: 30.18 DEC: 1.12</p></div>
                            </div>
                            <div class="telescopeDiv">
                                <div class="telTitle"><p class="subTitle">Telescope:</p></div>
                                <div class="telData"><p class="subTitle">TAK FSQ103</p></div>
                            </div>
                            <div class="filtersDiv">
                                <div class="filtersTitle"><p class="subTitle">Filters:</p></div>
                                <div class="filtersData"><p class="subTitle">L,R,G,B,Ha,Oiii</p></div>
                            </div>
                            <div class="startDiv">
                                <div class="startTitle"><p class="subTitle">Start:</p></div>
                                <div class="startDate"><p class="subTitle">00/00/0000</p></div>
                            </div>
                            <div class="integrationDiv">
                                <div class="integrationTitle"><p class="subTitle">Total time:</p></div>
                                <div class="integrationTime"><p class="subTitle">75h</p></div>
                            </div>
                            <div class="progressDiv">
                                <div class="progressTitle"><p class="subTitle">Progress:</p></div>
                                <div class="progressPerc"><p class="subTitle">50%</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="publications"></div>
            
        </div>
    </div>
    <div id="footer">
        <p>&#169; Manel Lagunas Cerni 2023</p>
    </div>
</body>
</html>